// Rename this file to "Config.h"
#define WIFI_SSID "Wifi Name" // SSID of your WiFi network
#define WIFI_PASSWORD "Wifi Password" // Password of your WiFi network

const int address[4] = { 192, 168, 68, 101 }; // Address of your RPi, split into 4 parts
